body{
  background-image: url("batman.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: sans-serif;
}

h1{
  Color: DarkCyan ;
  text-align: center;
}
h3{
  color: DarkCyan;

}
h5{
  color: black;
}
h6{
  color: grey;
}
img{
  border-radius: 40%;
  padding-left: 5%;
}
hr{
  width: 1100px;
  background-color: grey;

    border: none;
    height: 1px;
    /* Set the hr color */

    background-color: grey;
}
#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/*intro */
.intro{
  width: auto;
  height: 300px;
}

.intro2{
  margin-top: 20%;
  text-align:center;
  color: #FFFFFF;
  vertical-align: middle;
}

/*profile */
.Profile{
  padding-top: 5%;
  padding-bottom: 5%;
  width: auto;
  height: 300;
  background-color: white;

}

/*Experinces*/
.experinces{
  padding-top: 5%;
  padding-bottom: 5%;
  width: auto;
  background-color: Khaki;
}
/*Abilities*/
.abilities{
  padding-top: 5%;
  padding-bottom: 5%;
  width: auto;
  background-color: white;

}
/*Projects*/
.projects{
  padding-top: 5%;
  padding-bottom: 5%;
  width: auto;
  background-color: Khaki;
}

/* Contact */
.contact{
  padding-top: 5%;
  padding-bottom: 5%;
  width: auto;
  background-color: darkgrey;
}


.webpage{
  border-radius: 0%;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
}

.copyright{
  margin-top: 4%;
  text-align: center;
}

.checked{
  color: orange;
}


@media only screen and (max-width: 480px) {
  /* For mobile phones: */

  hr{
    display: none;
  }
  #button{

    margin-right: 10%;
  }
}
